<!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4" style="margin-top: 109px">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Search User</h4>
                    <%= form_tag(search_url, method: "get") do %>
                        <div class="input-group">
                            <%= text_field_tag "keywords", nil, class: "form-control", placeholder: "Search user by firstname or lastname" %>
                            <span class="input-group-btn">
                                <%= button_tag nil, class: "btn btn-default" do %>
                                    <span class="glyphicon glyphicon-search"></span>
                                <% end %>
                            </span>
                        </div>
                    <% end %>
                    <!-- /.input-group -->
                </div>

                <% if current_user %>
                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>Tags</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <% if Blog.tag_counts.empty? %>
                                    No tag
                                <% end %>
                                <div id="tag-cloud">
                                    <% tag_cloud Blog.tag_counts, %w[s m l] do |tag, css_class| %>
                                        <%= link_to  tag.name, tag_path(tag.name), class: css_class %>
                                    <% end %>
                                </div>
                            </div>
                            <!-- /.col-lg-12 -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <div class="well">
                        <h4>Friends</h4>
                        <% if current_user.friends.count + current_user.inverse_friends.count == 0 %>
                                You have no friend
                        <% else %>   
                            <ul>
                                <% current_user.friends.each do |friend| %>
                                    <li>
                                        <%= link_to friend do %>
                                            <%= friend.firstname %> <%= friend.lastname %>
                                        <% end %>
                                    </li>
                                <% end %>
                                <% current_user.inverse_friends.each do |friend| %>
                                    <li>
                                        <%= link_to friend do %>
                                            <%= friend.firstname %> <%= friend.lastname %>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>
                    <div class="well">
                        <h4>Following</h4>
                        <% if current_user.followings.count == 0 %>
                                You are not following anyone.
                        <% else %>  
                            <ul>
                                <% current_user.followings.each do |user| %>
                                    <li>
                                        <%= link_to user do %>
                                            <%= user.firstname %> <%= user.lastname %>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>
                    <div class="well">
                        <h4>Followers</h4>
                        <% if current_user.followeds.count == 0 %>
                                You have no user followed.
                        <% else %> 
                            <ul>
                                <% current_user.followeds.each do |user| %>
                                    <li>
                                        <%= link_to user do %>
                                            <%= user.firstname %> <%= user.lastname %>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>

                    <% if current_user.provider == "twitter" %>
                        <div class="well">
                            <h4>Tweets</h4>
                            <% @tweets.each do |tweet| %>
                                <blockquote><%= tweet.text %></blockquote>
                                <div class="pull-right">&mdash; @<%= tweet.user.screen_name %></div>
                                </br>
                            <% end %>
                        </div>
                    <% end %>
                <% end %>
            </div>