    <% content_for :title, "Edit " + @blog.title + " - IsaBéry" %>

    <script>
        $(document).ready(function() {
            $('.dropdown-toggle').dropdown();

            var max_length = 140;
            var text_length = $('#content-textarea').val().length;
            var text_remaining = max_length - text_length;
            
            $('#character-remaining').html(text_remaining + " character(s) remaining(s)");

            $('#content-textarea').keyup(function() {
                text_length = $(this).val().length;
                text_remaining = max_length - text_length;

                $('#character-remaining').html(text_remaining + " character(s) remaining(s)");
            });
        });
    </script>
    
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header"> Edit entry </h1>

                <!-- Blog form -->
                <div class="well" style="min-height:465px">
                    <%= form_for @blog, html: {role: "form"} do |f| %>
                        <div class="form-group">
                            <%= f.label :title %>
                            <%= f.text_field :title, class: "form-control", placeholder: "Enter title", required: true %>
                            </br>
                            <%= f.label :content %>
                            <%= f.text_area :content, id: "content-textarea", rows: 5, class: "form-control", required: true, placeholder: "Enter content (max lenght is 140 character)", maxlength: "140" %>
                            <span id="character-remaining" class="pull-right" style="margin-top: 10px;"></span>
                            </br>
                            <%= f.label :image %>
                            <%= f.file_field :image, class: "form-control" %>
                            </br>
                            <%= f.label :tag_list, "Tags (separated by commas)" %>
                            <%= f.text_field :tag_list, class: "form-control", placeholder: "Enter tags" %>
                        </div>
                        <%= f.submit "Submit", class: "btn btn-primary pull-right" %>
                    <% end %>
                </div>

                <hr>

            </div>

            <%= render 'blogs/sidebar' %>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->