<% content_for :title, @blog.title + " - IsaBéry" %>

<script>
   $('.dropdown-toggle').dropdown()

    $(document).ready(function() {
        $('.dropdown-toggle').dropdown();

        var max_length = 140;
        var text_length = $('#content-textarea').val().length;
        var text_remaining = max_length - text_length;
            
        $('#character-remaining').html(text_remaining + " character(s) remaining(s)");

        $('#content-textarea').keyup(function() {
            text_length = $(this).val().length;
            text_remaining = max_length - text_length;

            $('#character-remaining').html(text_remaining + " character(s) remaining(s)");
        });
    });
</script>

<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <% if flash[:success].present? %>
                    <div class="alert alert-success" role="alert">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <%= flash[:success] %>
                    </div>
                <% end %>

                <!-- Edit & Delete-->
                <% if @blog.user == current_user %>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog">
                        </button>
                        <ul class="dropdown-menu">
                            <li><%= link_to "Edit", edit_blog_path(@blog.id), class: "dropdown-item" %></li>
                            <li><%= link_to 'Delete',  { action: :destroy, id: @blog.id }, method: :delete, data: { confirm: 'Do you really want to delete this blog?' } %></li>
                        </ul>
                    </div>
                <% end %>

                <!-- Title -->
                <h1>
                    <% if @blog.user.image? %>
                        <%= image_tag @blog.user.image_url.to_s, width: "40px", height: "40px" %>
                    <% else %>
                        <%= image_tag "avatar40.jpg" %>
                    <% end %>

                    <%= @blog.title %>

                    <span class="lead">
                        by <%= link_to @blog.user do %><%= @blog.user.firstname %> <%= @blog.user.lastname %><% end %>
                    </span>
                </h1>

                <hr>

                <!-- View -->
                <% if @blog.nb_view > 1 %>
                    <small class="pull-right"><%= @blog.nb_view %> views</small>
                <% elsif @blog.nb_view == 1 %>
                    <small class="pull-right">1 view</small>
                <% else %>
                    <small class="pull-right">No view</small>
                <% end %>               

                <!-- Date/Time -->
                <% if @blog.created_at == @blog.updated_at %>
                    <p><span class="glyphicon glyphicon-time"></span> Posted <%= time_ago_in_words(@blog.created_at) %></p>
                <% else %>
                    <p><span class="glyphicon glyphicon-time"></span> Edited <%= time_ago_in_words(@blog.updated_at) %></p>
                <% end %>


                <hr>

                <% if @blog.image? %>
                    <%= image_tag @blog.image_url.to_s, width: "750px", height: "250px" %>
                    <hr>
                <% end %>

                <!-- Post Content -->
                <p class="lead"><%= markdown(@blog.content) %></p>
                
                <hr>

                <% if @blog.tag_list.empty? %>
                    <small> No tag </small>
                <% else %>
                    <small>Tags: <%= @blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ').html_safe %></small>
                <% end %>

                <hr>

                <!-- Blog Comments -->

                <% if current_user %>
                    <!-- Comments Form -->
                    <div class="well" style="height: 220px">
                        <h4>Leave a Comment:</h4>
                        <%= form_for [@blog, @comment], html: {role: "form"}, remote: true do |f| %>
                            <div class="form-group">
                                <%= f.text_area :content, id: "content-textarea", rows: 3, class: "form-control", required: true, placeholder: "Enter content (max lenght is 140 character)", maxlength: "140" %>
                                <span id="character-remaining" class="pull-right" style="margin-top: 10px;"></span>
                            </div>
                            </br>
                            <%= f.submit "Submit", class: "btn btn-primary pull-right" %>
                        <% end %>
                    </div>
                <% else %>
                    <div class="well">
                        <h2 style="text-align: center"><%= link_to 'Log in', login_path %> or <%= link_to 'Sign up', signup_path %> to leave a Comment?</h2>
                    </div>
                <% end %>

                <% if @blog.comments.count == 1 %>
                    <h2><%= @blog.comments.count %> comment</h2>
                <% elsif @blog.comments.count > 1 %>
                    <h2><%= @blog.comments.count %> comments</h2>
                <% else %>
                    <h2>No comment</h2>
                <% end %>    

                <hr>
                 <% @blog.comments.order("created_at DESC").each do |comment| %>

                    <!-- Comment -->
                    <div class="media" style="margin-bottom: 20px">
                        <%= link_to comment.user, class: "pull-left" do %>
                            <% if comment.user.image? %>
                                <%= image_tag comment.user.image_url.to_s, width: "64px", height: "64px", class: "media-object" %>
                            <% else %>
                                <%= image_tag "avatar64.jpg", class: "media-object" %>
                            <% end %>
                            
                        <% end %>
                        <div class="media-body">
                            <h4 class="media-heading"> <%= link_to comment.user do %><%= comment.user.firstname %> <%= comment.user.lastname %><% end %>
                                <small><%= time_ago_in_words(comment.created_at) %></small>
                            </h4>
                            <%= markdown(comment.content) %>
                        </div>
                    </div>
                    <hr>
                <% end %>
            </div>

            <%= render 'blogs/sidebar' %>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->