    <% content_for :title, "Search result - IsaBéry" %>
    
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Search Results
                </h1>

                <% if @users.empty? %>
                    <h1 style="text-align: center"> User not found! </h1>
                <% end %>

                <% @users.each do |user| %>
                <div>
                    <h2>
                        <%= link_to user do %>
                        <%= user.firstname %> <%= user.lastname %>
                        <% end %>
                    </h2>
                </div>
                <% end %>

                <%= render 'users/pager' %>

            </div>

            <%= render 'blogs/sidebar' %>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->